$body-overflow-y: auto;

@import '~bulma';
@import "~bulma-switch";
@import "~bulma-checkradio";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "scrollbar";
